<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
		<add key="Roslyn Nightlies" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
		<add key="Roslyn VSForMac" value="https://dotnet.myget.org/F/roslyn-for-vs-for-mac/api/v3/index.json" />
	</packageSources>
</configuration>
